body{
    background-color: chartreuse;
}
.one{
    background-color: darkgoldenrod;
}
.two{
    background-color: darkgoldenrod;
}
h1{
    background-color: darkgoldenrod;
}
h2{
    background-color: darkgoldenrod;
}
p{
    background-color: darkgoldenrod;
}
